.location-list {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 273px;
    overflow-x: visible;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    z-index: 999; /* Set a high z-index to make sure it appears above other elements */
    background-color: #fff;
    }
  
  /* Additional styles for the input field */
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    position: relative; /* Make sure the suggestions list is positioned relative to the input field */
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  