@import "/src/styles/mixins.scss";

$primary-color: #007bff;

.card-container {
  // background-image: url('../../assets/clear\ sky12.jpg');
  // background-position: relative;
  // background-repeat: no-repeat;
  // background-size: cover;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
  // styles.scss

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .icon-box {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
}

.divider {
  margin: 10px 0;
}

  .temperature-section {
    @include flex(row, center, start);

  }
  .weather-icon {
    font-size: 48px;
    margin-right: 8px;
  }

  .section-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .icon-section {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
}
